<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-2">
    {{delivery.cohort}}
  </div>
  <div class="col-sm-2">

  </div>
  <div class="col-sm-2">
    {{delivery.dueDate}}
  </div>
  <div class="col-sm-2">
    Coming soon
  </div>
  <div class="row">
    {{delivery.status}}
  </div>
</div>
